name: Protobuf CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "**"

jobs:
  fmt:
    name: Format
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # pin@v4.3.0
      - uses: bufbuild/buf-setup-action@35c243d7f2a909b1d4e40399b348a7fdab27d78d # pin@v1.34.0
        with:
          version: "1.34.0"
          github_token: ${{ github.token }}

      - name: Check Protobuf Format
        run: buf format -d --exit-code
